* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
  background-color: #2b2b2b;
  color: #ffffff;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 50px;
}

.nav {
  display: flex;
  gap: 30px;
}

.nav__ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.nav__link,
.header-btn__title {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.nav__li:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.header__btn {
  background-color: #a259ff;
  width: 152px;
  height: 60px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.header-btn__link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.header__btn:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.discover {
  height: 704px;
  padding: 80px 115px 80px 115px;
  display: flex;
  row-gap: 30px;
}

.discover__content {
  width: 510px;
  height: 544px;
}

.discover-content__title {
  font-weight: 600;
  font-size: 67px;
  padding-bottom: 20px;
}

.discover-content__subtitle {
  font-weight: 400;
  font-size: 22px;
  padding-bottom: 30px;
}

.discover-content__btn {
  width: 224px;
  height: 60px;
  background-color: #a259ff;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 30px;
  cursor: pointer;
}

.discover-content__btn a {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.discover-content__btn:hover,
.nft__btn:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.discover-content__rate {
  display: flex;
  align-items: center;
  gap: 30px;
}

.discover__img {
  background-color: #3b3b3b;
  width: 510px;
  height: 510px;
  overflow: hidden;
  border-radius: 20px;
}

.rate__title {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 28px;
}

.rate__subtitle {
  font-weight: 400;
  font-size: 24px;
}

.discover-img__title {
  padding: 10px 0 22px 20px;
  font-weight: 600;
  font-size: 22px;
}

.discover-img__subtitle {
  display: flex;
  gap: 12px;
  padding-left: 20px;
}

.discover-img__subtitle p {
  font-size: 16px;
  font-weight: 400;
}

.section__trend {
  height: 836px;
}

.trend__wrapper {
  margin: 80px 115px 80px 80px;
}

.trend-card__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.trend__title {
  font-weight: 600;
  font-size: 38px;
  padding-bottom: 10px;
}

.trend__subtitle {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 60px;
}

.trend__card-scale:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.trend-card__items {
  padding: 15px 0 15px 0;
  display: flex;
  gap: 15px;
}

.trend-card__title {
  font-size: 22px;
  font-weight: 600;
}

.trend-card__avatar {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.trend-card__subtitle {
  font-size: 16px;
  font-weight: 400;
}

.section__creators {
  height: 1085px;
  margin: 80px 115px 80px 80px;
}

.creators__header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.creators__title {
  font-size: 38px;
  font-weight: 600;
  padding-bottom: 10px;
}

.creators__subtitle {
  font-size: 22px;
  font-weight: 400;
}

.creators__btn {
  width: 247px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  color: #ffffff;
  background-color: #2b2b2b;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  border: 2px #a259ff solid;
  border-radius: 20px;
}

.creators__btn:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.creators__cards-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 60px 0 80px 0;
}

.creators__card {
  position: relative;
  width: 240px;
  height: 238px;
  background-color: #3b3b3b;
  border-radius: 20px;
}

.creators__card:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.creators-card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.creators-card__imgs {
  display: flex;
  align-items: start;
  gap: 15px;
  padding-top: 20px;
  padding-left: 20px;
}

.creators__card h5 {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  padding: 20px 0 5px 0;
}

.creators-card__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.card__desc {
  color: #858584;
  font-weight: 400;
  font-size: 16px;
}

.section__categories {
  margin: 186px 115px 80px 115px;
  height: 928px;
}

.categories__title {
  font-weight: 600;
  font-size: 38px;
  margin-bottom: 60px;
}

.categories__card-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.categories__card {
  width: 240px;
  height: 316px;
  background-color: #3b3b3b;
  border-radius: 20px;
  position: relative;
}

.categories__card:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.categories-card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.categories-card__title {
  font-weight: 600;
  font-size: 22px;
  padding-top: 20px;
  padding-left: 30px;
}

.section__nft {
  height: 780px;
  margin: 80px 115px 80px 115px;
}

.nft-desc__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nft__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 187px;
  height: 60px;
  background-color: #2b2b2b;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border-radius: 20px;
  border: 2px #a259ff solid;
}

.nft__title {
  font-weight: 600;
  font-size: 38px;
  padding-bottom: 10px;
}

.nft__subtitle {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 60px;
}
